@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./styles/reset.css);
@import url(./styles/header/header-container.css);
@import url(./styles/header/search-field.css);
@import url(./styles/header/header-menu.css);
@import url(./styles/carousel-banner.css);
@import url(./styles/dropdown-menu/dropdown-menu.css);
@import url(./styles/product-card.css);
@import url(./styles/product-carousel.css);
@import url(./styles/newsletter.css);
@import url(./styles/footer.css);
@import url(./styles/sidebar.css);


:root {
    --primary-color: #f91b65;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    min-width: 320px;
    max-width: 100%
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Desativa o destaque de clique */
    outline: none; /* Remove a borda de foco ao clicar */
  }
  
  /* Desativar a mudança de cor ao clicar */
  a:active,
  a:focus {
    background-color: transparent !important; /* Remove a cor de fundo */
    color: inherit !important; /* Mantém a cor do texto padrão */
  }

