.header-container {
    display: flex;
    justify-content: space-between;
    padding: 5em 0em;
    margin: 0em 4em;
    align-items: center;
    z-index: 2;
}

.hamburguer {
    display: none;
}

.main-logo {
    margin: 0 0 5px 0;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 5em;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
}


.header-icons a {
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
}

.login-description {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.login__text {
    font-weight:600;
}

@media screen and (max-width: 1366px) {
    .login-description {
        font-size: 1em;
    }
}

@media screen and (max-width: 1280px) {

    .header-container {
        margin: 0 2em;
    }

    .header-icons {
        gap: 2em;
    }

    .login-description {
        display: none;
    }
}


@media screen and (max-width: 1023px) {

    .header-container {
        margin: 0 1em;
        padding: 3em 0;
    }

    .header-content {
        gap: 2em;
    }

    .header-icons {
        gap: 0em;
    }
    
    .cart-icon {
        margin-left: 1.5em;
    }
    
    .hamburguer {
        display: flex;
    }

    .user-icon {
        display: none;
    }

    .container__image {
        width: 100%;
    }

    .main-logo {
        margin: 0;
        padding: 0;
    }

}

@media screen and (max-width: 905px) {
    .main-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);   
    }    
}


@media screen and (max-width: 480px) {

    .header-container {
        margin: 0 1em;
        padding: 2em 0;
    }

    .main-logo {
        left: 48%;
        width: 180px;
    }

    .container__image-fav, .cart-icon {
        height: 30px;
    }
    
}

@media screen and (max-width: 400px) {

    
    .main-logo {
        position: absolute;
        left: 48%;
        transform: translate(-50%, -50%);
        width: 150px;
    }
    
    .cart-icon {
        margin-left: 1em;
    }

    .container__image-fav, .cart-icon {
        height: 25px;
    }
}   

@media screen and (max-width: 300px) {
    .main-logo {
        left: 45%;
        position:fixed;
    }
}
